{% extends 'fungo/base.html' %}
{% load staticfiles %}
{% block title %}
  Change Password
{% endblock title %}

{% block content %}

<form class="form-horizontal" role="form" method="post" action=".">
  {% csrf_token %}

  <input class="form-control" placeholder="Old Password" id="id_old_password"
       maxlength="254" name="old_password" type="password" required
         autofocus=""/>
  <input class="form-control" placeholder="New Password" id="id_new_password1"
       maxlength="254" name="new_password1" type="password" required />
  <input class="form-control" placeholder="Repeat Password" id="id_new_password2"
       maxlength="254" name="new_password2" type="password" required />

  <button class="btn btn-primary" type="submit" value="Submit">
    Change Password
  </button>

</form>
{% endblock content %}
