{% extends 'fungo/base.html' %}
{% load staticfiles %}
{% block title %}
  {% if category %}
    {{ category_name }}
  {% else %}
    Missing Category!
  {% endif %}
{% endblock title %}

{% block content %}

{% if category %}

  {% if pages %}
  <ul>
    {% for page in pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  No pages currently in category.
  {% endif %}

  {% if user.is_authenticated %}

  {% endif %}

{% else %}

  The specified category does not exist.

{% endif %}

{% endblock content %}

{% block extra_actions %}
  {% if category %}
    <li><a href="{% url 'add_page' category.slug %}">Add Page</a></li>
  {% endif %}
{% endblock extra_actions %}
