{% extends 'fungo/base.html' %}
{% load staticfiles %}
{% block title %}
  {% if category %}
    {{ category_name }}
  {% else %}
    Missing Category!
  {% endif %}
{% endblock title %}

{% block title_stuff %}
<span class="badge" id="like_count">{{ category.likes }}</span>

{% if user.is_authenticated %}

  {% if can_like %}
  <button id="likes" data-catid="{{category.id}}" title="Like"
          class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-star"></span>
  </button>
  {% endif %}
  <form action="{% url 'add_page' category.slug %}" style="display:inline">
    <button id="add_page" class="btn btn-primary"
            type="submit" title="Add Page">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </form>
{% endif %}
{% endblock title_stuff %}

{% block content %}

{% if category %}

  {% if pages %}
  <ul class="list-group">
    {% for page in pages %}
    <li class="list-group-item">
      <span class="badge">{{ page.views }}</span>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  No pages currently in category.
  {% endif %}

{% else %}

  The specified category does not exist.

{% endif %}

{% endblock content %}
