<!DOCTYPE html>
<html>
  <head>
    <title>Fungo</title>
  </head>

  <body>
    {% if user.is_authenticated %}
    <h1>Hello {{ user.username }}!</h1>
    {% else %}
    <h1>Welcome to Fungo!</h1>
    {% endif %}

    {% if categories %}
    <ul>
      {% for category in categories %}
      <li>
        <a href="{% url 'category' category.slug %}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <b>There are no categories present.</b>
    {% endif %}

    <a href="{% url 'register' %}">Register Here</a><br/>
    <a href="{% url 'login' %}">Login</a><br/>
    <a href="{% url 'add_category' %}">Add a New Category</a><br/>
    <a href="{% url 'about' %}">About</a>
  </body>
</html>
