<!DOCTYPE html>
<html>
    <head>
        <title>Fungo</title>
    </head>

    <body>
        <h1>Fungo says&hellip;</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                  <a href="/fungo/category/{{ category.slug }}">
                    {{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <b>There are no categories present.</b>
        {% endif %}

        <a href="/fungo/about/">About</a>
    </body>
</html>
